.widget-sm {
    flex: 1;
    margin-right: 20px;
}

.widget-lg {
    flex: 2;
}

.widget-sm, .widget-lg {
    -webkit-box-shadow: 0px 0px 15px -10px #000000; 
    box-shadow: 0px 0px 15px -10px #000000;
    padding: 20px;
}

.widget-title {
    font-size: 22px;
    font-weight: bold;
}

.widget-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


/* Widget small */

.widget-sm-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget-sm-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.widget-sm-user {
    display: flex;
    flex-direction: column;
}

.widget-sm-username {
    font-weight: 600;
}

.widget-sm-user-title {
    font-weight: 300;
}

.widget-sm-button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}

.widget-sm-icon {
    font-size: 16px;
    margin-right: 5px;
}



/* Widget large */

.widget-lg-button {
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
}

.widget-lg-button.Approved {
    background-color: #e5faf2;
    color: #3bb077;
}

.widget-lg-button.Declined {
    background-color: #fff0f1;
    color: #d95087;
}

.widget-lg-button.Pending {
    background-color: #ebf1f3;
    color: #2a7ade;
}

.widget-lg-table {
    width: 100%;
    border-spacing: 20px;
}

.widget-lg-th {
    text-align: left;
}

.widget-lg-user {
    display: flex;
    align-items: center;
}

.widget-lg-name {
    margin-left: 10px;
    font-weight: 600;
}

.widget-lg-date, .widget-lg-amount {
    font-weight: 300;
}