/* user list */

.user-list, .user {
    flex: 4;
    padding: 20px;
}

.user-list-wrapper {
    display: flex;
    align-items: center;
}

.user-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.user-list-edit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

.user-list-delete {
    color: red;
    cursor: pointer;
}


/* User */

.user-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-edit-button {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.user-container {
    display: flex;
    margin-top: 20px;
}

.user-show {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px #000000; 
    box-shadow: 0px 0px 15px -10px #000000;
}

.user-update {
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px #000000; 
    box-shadow: 0px 0px 15px -10px #000000;
    margin-left: 20px; 
}

.user-show-top {
    display: flex;
    align-items: center;
}

.user-show-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.user-show-top-title {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.user-show-user-username {
    font-weight: 600;
}

.user-show-user-title {
    font-weight: 300;
}

.user-show-bottom {
    margin-top: 20px;
}

.user-show-title {
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
}

.user-show-info {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #444;
}

.user-show-icon {
    font-size: 16px !important;
}

.user-show-info-title {
    margin-left: 10px;
}

.user-update-title {
    font-size: 24px;
    font-weight: 600;
}

.user-update-form {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.user-update-item {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.user-update-item>label {
    font-size: 14px;
    margin-bottom: 5px; 
}

.user-update-input {
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.user-update-input:focus {
    outline: none;
}

.user-update-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-update-upload {
    display: flex;
    align-items: center;
}

.user-update-img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.user-update-icon {
    cursor: pointer;
}

.user-update-button {
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    background-color: teal;
}